body {
    font: 1.2em / 1.5 sans-serif;
  }
  .grid > * {
    background-color: #4d7298;
    border: 2px solid #77a6b6;
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-template-areas: 
        "head head" 
        "main main2"  
        ". foot";
  }
  .one{
    grid-area: head;
  }
  .two{
    grid-area: main;
  }
  .three{
    grid-area: main2;
  }
  .four{
    grid-area: foot;
  }
  